.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Orderdetail{
  width: 45%;
}
.OrderImg{
  width: 100px;
  height: 100px;
}
.MenuBar{
  width: 50%;
}
.newOrder{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}